@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,600&display=swap');

:root{
    --paleblue : hsl(225, 100%, 94%);
    --brightblue: hsl(245, 75%, 52%);
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

body{
    
  background-image: url(./images/pattern-background-desktop.svg);
  background-color: var(--paleblue);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  position: relative;
  z-index: -1;
  color: var(--desaturatedBlue);
}

.container{
    position: absolute; top: 50%; left: 50%; 
    max-width: 25rem;
    margin-top: 6rem;
    margin-left: -200px;
    margin-right: -290px;
    text-align: center;
    border-radius: 2rem;
    padding:  0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow-x: hidden;
   
}

.mid-section{
    background-color: #fff;
    padding: 0 2rem;
    margin-top: -1rem;
}

h1{
    margin: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

p{
    font-size: 1rem;
    padding-bottom: 1.5rem;
    line-height: 2rem;
}

.price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    background: var(--veryPaleBlue);
    border-radius: 1rem;
    height: fit-content;
    text-align: center;
}

.price-box{
   padding: 0;
}

.price-box img{
    padding-left: 1.5rem;
}

.price-box h3{
    font-size: 1rem;
}

h3{
    font: 1.5rem;
    font-weight: 700;
    color: black;
}

a{
    font-size: .7rem;
    padding-right: 1.5rem;
    font-weight: bold;
}

.btn{
    margin: 1rem 0;
}

button{
    height: 2.7rem;
    font-weight: bold;
    background: transparent;
    border: none; outline: none;
    width: 75%;
    color: var(--desaturatedBlue);
    padding-top: .4rem;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}

button:hover{
    color: black;
}

.pay{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    background: var(--brightblue);
    color: #fff;
}

.pay:hover{
    background: purple;
    color: #fff;
}

@media(max-width: 450px){
    body{
        font-size: 60%;
    }

    .container{
        max-width: 22rem;
        left: 56%;
        margin-top: 6rem;
    }
}
